.mission-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 10px;
  margin: 10px 0;
  width: 320px;
  min-width: 320px;
  opacity: 0.8;
}

.mission-card p {
  font-size: 24px;
  text-align: center;
}

.mission-card:hover {
  background-color: black;
  opacity: 1;
}

@media screen and (min-width: 1368px) {
  .mission-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px 0;
    width: 600px;
    min-width: 320px;
    opacity: 0.8;
  }
  
  .mission-card p {
    font-size: 24px;
    text-align: center;
  }
  
  .mission-card:hover {
    background-color: black;
    opacity: 1;
  }
}